{{ define "main" }}
  <div class="fruit-grid">
    <img src="images/pina.png" alt="">
    <img src="images/pina.png" alt="">
    <img src="images/pina.png" alt="">
  </div>
  <div class="sliced-grid">
    <img src="images/pina.png" alt="">
    <img src="images/pina.png" alt="">
    <img src="images/pina.png" alt="">
  </div>
  <section class="cta">
    <img src="images/pina.png" alt="" srcset="">
    <h2>Heading</h2>
    <p>words and words</p>
    <a href="/productos" class="btn">productos button</a>
  </section>
  <section class="features">
    <div class="feature">
      <div class="feature-content">
        <h2>Feature Heading</h2>
        <p>feature description</p>
      </div>
      <img src="images/pina.png" alt="">
    </div>
    <div class="feature">
      <div class="feature-content">
        <h2>Feature Heading</h2>
        <p>feature description</p>
      </div>
      <img src="images/pina.png" alt="">
    </div>
    <div class="feature">
      <div class="feature-content">
        <h2>Feature Heading</h2>
        <p>feature description</p>
      </div>
      <img src="images/pina.png" alt="">
    </div>
  </section>
{{ end }}
