* {
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-out;
}
:root {
    --logo-background: white;
    --logo-foreground: black;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-inline: 1.5em;
}
.logo {
  width: max(40vw, 20rem);
}
p {
    font-size: max(1.5vw, 1rem);
}
.upper {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: max(1.8vw, 1.5rem);
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }