* {
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-out;
}
:root {
    --logo-background: white;
    --logo-foreground: black;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: clamp(5vh, 1rem,8rem);
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-inline: 1.5em;
}
.logo {
  width: max(40vw, 20rem);
}
p {
    font-size: max(1.5vw, 1rem);
}
.upper {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: max(1.8vw, 1.5rem);
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.fruits {
    font-size: max(2vw, 2rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:max(2vw, 0.75rem);
	overflow: hidden;
    width: 100%;
    align-items: center;
    align-content: center; 
    justify-content: center;  
	z-index: 100000;
    padding-block: 1.5rem;
}
.fruit {
    --size: 5px;
    --timing: .8s;
    --distance: 10px;
}
.fruit:nth-child(n) {
    animation: bounce var(--timing) ease-in-out alternate infinite;
}
.fruit:nth-child(2n) {
    animation: bounce var(--timing) ease-in-out alternate .5s infinite;
}

.fruit:nth-child(3n) {
    animation: bounce var(--timing) ease-in-out alternate .8s infinite;
}

@keyframes bounce {
    100% { transform: translateY(var(--distance)); }
}
@media (prefers-reduced-motion) {
    .fruit {
        --distance: 0px;
    }
}
  
  